:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding-top: 2em;
  padding-left: 8em;
  padding-right: 8em;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2em;
  margin-bottom: 1em;
}
.title img {
  height: 3em;
  margin-right: 0.5em;
}
.title .logo {
  display: flex;
  align-items: center;
}