:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 490" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(66.614, 83.983, 216.665, 1)" offset="0%"></stop><stop stop-color="rgba(129.605, 122.992, 246.263, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(%23sw-gradient-0)" d="M0,441L80,400.2C160,359,320,278,480,212.3C640,147,800,98,960,138.8C1120,180,1280,310,1440,310.3C1600,310,1760,180,1920,155.2C2080,131,2240,212,2400,269.5C2560,327,2720,359,2880,359.3C3040,359,3200,327,3360,334.8C3520,343,3680,392,3840,367.5C4000,343,4160,245,4320,236.8C4480,229,4640,310,4800,326.7C4960,343,5120,294,5280,294C5440,294,5600,343,5760,359.3C5920,376,6080,359,6240,359.3C6400,359,6560,376,6720,392C6880,408,7040,425,7200,432.8C7360,441,7520,441,7680,441C7840,441,8000,441,8160,432.8C8320,425,8480,408,8640,383.8C8800,359,8960,327,9120,294C9280,261,9440,229,9600,187.8C9760,147,9920,98,10080,138.8C10240,180,10400,310,10560,318.5C10720,327,10880,212,11040,147C11200,82,11360,65,11440,57.2L11520,49L11520,490L11440,490C11360,490,11200,490,11040,490C10880,490,10720,490,10560,490C10400,490,10240,490,10080,490C9920,490,9760,490,9600,490C9440,490,9280,490,9120,490C8960,490,8800,490,8640,490C8480,490,8320,490,8160,490C8000,490,7840,490,7680,490C7520,490,7360,490,7200,490C7040,490,6880,490,6720,490C6560,490,6400,490,6240,490C6080,490,5920,490,5760,490C5600,490,5440,490,5280,490C5120,490,4960,490,4800,490C4640,490,4480,490,4320,490C4160,490,4000,490,3840,490C3680,490,3520,490,3360,490C3200,490,3040,490,2880,490C2720,490,2560,490,2400,490C2240,490,2080,490,1920,490C1760,490,1600,490,1440,490C1280,490,1120,490,960,490C800,490,640,490,480,490C320,490,160,490,80,490L0,490Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(62, 89.084, 243, 1)" offset="0%"></stop><stop stop-color="rgba(98.487, 11, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(%23sw-gradient-1)" d="M0,49L80,65.3C160,82,320,114,480,147C640,180,800,212,960,220.5C1120,229,1280,212,1440,212.3C1600,212,1760,229,1920,212.3C2080,196,2240,147,2400,138.8C2560,131,2720,163,2880,196C3040,229,3200,261,3360,277.7C3520,294,3680,294,3840,245C4000,196,4160,98,4320,89.8C4480,82,4640,163,4800,196C4960,229,5120,212,5280,196C5440,180,5600,163,5760,187.8C5920,212,6080,278,6240,302.2C6400,327,6560,310,6720,253.2C6880,196,7040,98,7200,106.2C7360,114,7520,229,7680,285.8C7840,343,8000,343,8160,334.8C8320,327,8480,310,8640,269.5C8800,229,8960,163,9120,147C9280,131,9440,163,9600,204.2C9760,245,9920,294,10080,318.5C10240,343,10400,343,10560,310.3C10720,278,10880,212,11040,179.7C11200,147,11360,147,11440,147L11520,147L11520,490L11440,490C11360,490,11200,490,11040,490C10880,490,10720,490,10560,490C10400,490,10240,490,10080,490C9920,490,9760,490,9600,490C9440,490,9280,490,9120,490C8960,490,8800,490,8640,490C8480,490,8320,490,8160,490C8000,490,7840,490,7680,490C7520,490,7360,490,7200,490C7040,490,6880,490,6720,490C6560,490,6400,490,6240,490C6080,490,5920,490,5760,490C5600,490,5440,490,5280,490C5120,490,4960,490,4800,490C4640,490,4480,490,4320,490C4160,490,4000,490,3840,490C3680,490,3520,490,3360,490C3200,490,3040,490,2880,490C2720,490,2560,490,2400,490C2240,490,2080,490,1920,490C1760,490,1600,490,1440,490C1280,490,1120,490,960,490C800,490,640,490,480,490C320,490,160,490,80,490L0,490Z"></path><defs><linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(108.502, 62, 243, 1)" offset="0%"></stop><stop stop-color="rgba(34.042, 41.059, 180.236, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 100px); opacity:0.8" fill="url(%23sw-gradient-2)" d="M0,245L80,228.7C160,212,320,180,480,204.2C640,229,800,310,960,351.2C1120,392,1280,392,1440,343C1600,294,1760,196,1920,204.2C2080,212,2240,327,2400,343C2560,359,2720,278,2880,269.5C3040,261,3200,327,3360,310.3C3520,294,3680,196,3840,187.8C4000,180,4160,261,4320,310.3C4480,359,4640,376,4800,334.8C4960,294,5120,196,5280,138.8C5440,82,5600,65,5760,98C5920,131,6080,212,6240,253.2C6400,294,6560,294,6720,277.7C6880,261,7040,229,7200,253.2C7360,278,7520,359,7680,392C7840,425,8000,408,8160,351.2C8320,294,8480,196,8640,204.2C8800,212,8960,327,9120,367.5C9280,408,9440,376,9600,302.2C9760,229,9920,114,10080,57.2C10240,0,10400,0,10560,57.2C10720,114,10880,229,11040,302.2C11200,376,11360,408,11440,424.7L11520,441L11520,490L11440,490C11360,490,11200,490,11040,490C10880,490,10720,490,10560,490C10400,490,10240,490,10080,490C9920,490,9760,490,9600,490C9440,490,9280,490,9120,490C8960,490,8800,490,8640,490C8480,490,8320,490,8160,490C8000,490,7840,490,7680,490C7520,490,7360,490,7200,490C7040,490,6880,490,6720,490C6560,490,6400,490,6240,490C6080,490,5920,490,5760,490C5600,490,5440,490,5280,490C5120,490,4960,490,4800,490C4640,490,4480,490,4320,490C4160,490,4000,490,3840,490C3680,490,3520,490,3360,490C3200,490,3040,490,2880,490C2720,490,2560,490,2400,490C2240,490,2080,490,1920,490C1760,490,1600,490,1440,490C1280,490,1120,490,960,490C800,490,640,490,480,490C320,490,160,490,80,490L0,490Z"></path></svg>');
}

.content {
  padding: 3em;
  margin: 10vh auto;
  max-width: 1000px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 35px rgba(11, 30, 171, 0.219);
  min-height: 550px;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2em;
  margin-bottom: 1em;
}
.title img {
  height: 3em;
  margin-right: 0.5em;
}
.title .logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}

.menu-column .button {
  width: 100%;
  margin: 10px;
  font-size: small;
  min-height: 3em;
  text-align: start;
}

.not-displayed {
  display: none !important;
}

.switch, .input {
  margin-bottom: 2em;
}

form .input {
  min-width: 500px;
  margin-top: 10px;
}

.label {
  color: var(--purple);
}

.switch input {
  display: none;
}

.switch {
  font-size: small;
}

.slider {
  margin-right: 15px;
}

.step-navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 5%;
  margin-right: 5%;
  display: flex;
}

.environment-info {
  margin-top: 2em;
  font-size: small;
}

.environment-info span {
  margin-right: 4em;
}

.step-navigation button {
  min-height: 2em;
  margin-right: 1em;
  min-width: 10em;
}

.loader {
  min-width: 3em;
}


input::file-selector-button {
  height: 36px;
  font-size: 12px;
  font-weight: 700;
  padding: 0px 22px;
  border: 2px solid var(--purple);
  background-color: var(--purple);
  border-radius: 5000px;
  color: white;
  width: fit-content;
  align-content: center;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  line-height: 18px;
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  margin-right: 30px;
}




